
.Initial {
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;

}
.Title {
  background: rgb(217, 210, 232);
  font-size: 60px;

.sign-up-page{
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
.Top{
  background: rgb(217, 210, 232);
}

#top-logo{
  width:70px;
  margin-left: 43px;
  margin-right: 10px;
  padding-top:25px;
}

.log-in-box{
  padding-top: 120px;
}

.Top-Title {
  background: rgb(217, 210, 232);
  font-size: 30px;

  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

h1{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top:80px;
}
#logo{
  width:200px;
  margin-left: 43px;
  margin-right: 10px;
  padding-top:50px;
}
.Major{
  background: rgb(217, 210, 232);

}
.TeamName{
  text-align: center;
}

.Text{
  border: 1px solid grey;
  margin-left: 180px;
  margin-right:180px;
  background:rgb(217, 210, 232);
  color: black;
  text-align: center;
  padding: 25px;
  font-size: 32px;

}

#CS{
  width:200px;
  margin-top:50px;
  margin-left:330px;
}

#CS:hover{
  cursor: pointer;
}

#EE{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}
#ME{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}

#AE{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}



.Sign-up-left{
  background:rgb(217, 210, 232);
  height: fit-content;
  float: left;
  width: 70%;
}
.sign-up-right{
  background: rgb(217, 210, 232);
  height: fit-content;
  width: 30%;
  float: right;
}

.user-info{
  height: 80px;
  margin-bottom: 28px;
  display: flex;
}
.Sing-up-category{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  margin-left: 100px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;
}

.sign-up-category-right{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;

}
#sign-up-type{
  text-align: center;
  margin: auto;
  font-size: smaller;
}

#login-btn{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
}

#sign-up-type-right{
  text-align: center;
  font-size: smaller;
  margin: auto;
}

.login-button{
  margin: auto;
  padding-top:40px;
  padding-bottom: 40px;
}
.sign-up-login{
  background-color: rgb(126, 110, 181);
  margin-right: 120px;
  width: 40%;
  height: 120px;
  font-size: xx-large;
  border-radius: 15px;
  display: -webkit-box;

}
.sign-up-register:hover{
  cursor: pointer;
}

.sign-up-input{
  margin-left:10px;
  height: -webkit-fill-available;
  width: 480px;
  font-size: x-large;
  border-radius: 3px;
}

.sign-up-selection{
  margin-left:10px;
  height: -webkit-fill-available;
  font-size: larger;
  width: 440px;
}

.login-findpwd{
  padding-top: 200px;
  margin: auto;
  text-align: center;
}

.login-signup{
  margin: auto;
  text-align: center;
}





