.Initial {
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;

}
.Title {
  background: rgb(217, 210, 232);
  font-size: 60px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}
h1{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top:80px;
}
#logo{
  width:200px;
  margin-left: 43px;
  margin-right: 10px;
  padding-top:50px;
}
.Major{
  background: rgb(217, 210, 232);

}
.TeamName{
  text-align: center;
}

.Text{
  border: 1px solid grey;
  margin-left: 180px;
  margin-right:180px;
  background:rgb(217, 210, 232);
  color: black;
  text-align: center;
  padding: 25px;
  font-size: 32px;

}

#CS{
  width:200px;
  margin-top:50px;
  margin-left:330px;
}

#CS:hover{
  cursor: pointer;
}

#EE{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}
#ME{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}

#AE{
  width:200px;
  margin-top:50px;
  margin-left: 80px;
}

.sign-up-page{
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
.Top{
  background: rgb(217, 210, 232);
}

#top-logo{
  width:70px;
  margin-left: 43px;
  margin-right: 10px;
  padding-top:25px;
}

.log-in-box{
  padding-top: 120px;
}

.Top-Title {
  background: rgb(217, 210, 232);
  font-size: 30px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.Sign-up-left{
  background:rgb(217, 210, 232);
  height: fit-content;
  float: left;
  width: 70%;
}
.sign-up-right{
  background: rgb(217, 210, 232);
  height: fit-content;
  width: 30%;
  float: right;
}

.user-info{
  height: 80px;
  margin-bottom: 28px;
  display: flex;
}
.sign-up-category{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  margin-left: 100px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;
}

.sign-up-category-right{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;

}
#sign-up-type{
  text-align: center;
  margin: auto;
  font-size: smaller;
}

#sign-up-btn{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 30px;
}

#sign-up-type-right{
  text-align: center;
  font-size: smaller;
  margin: auto;
}

.sign-up-login{
  background-color: rgb(126, 110, 181);
  margin-right: 120px;
  width: 40%;
  height: 120px;
  font-size: xx-large;
  border-radius: 15px;
  display: -webkit-box;

}
.sign-up-register:hover{
  cursor: pointer;
}

.sign-up-input{
  margin-left:10px;
  height: -webkit-fill-available;
  width: 480px;
  font-size: x-large;
  border-radius: 3px;
}

.sign-up-selection{
  margin-left:10px;
  height: -webkit-fill-available;
  font-size: larger;
  width: 440px;
}

.login-button{
  margin: auto;
  padding-top:40px;
  padding-bottom: 40px;
}

#login-btn{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
}

#login-btn:hover{
  cursor: pointer;
}


.login-findpwd{
  padding-top: 200px;
  margin: auto;
  text-align: center;
}

.login-signup{
  margin: auto;
  text-align: center;
}

.wiki{
  height:100vh;
  background: rgb(217, 210, 232);
}

.Top-Title {
  background: rgb(217, 210, 232);
  font-size: 60px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.wiki-navbar-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-left: 15px;
}
.wiki-past-year{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: italic;
  padding-right: 10px;
}

.wiki-navbar-signin{
  background: rgb(217, 210, 232);
  width: inherit;
}

.wiki-signin{
  height: 40px;
  width: 150px;
  background: rgb(177, 167,210);
  border-radius: 15px;
}

.wiki-signin:hover{
  cursor: pointer;
}

#wiki-signin-text{
  font-size:23px;
}

.wiki-signin-wrapper{
  float: right;
}
.wiki-navbar-row{
  background:rgb(217, 210, 232);
  content: "";
  display: table;
  clear: both;
  display: flex;
  width: inherit;
  padding-bottom: 15px;
}

.wiki-navbar-left{
  float: left;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  
}
.wiki-arrow-left{
  font-size: xx-large;
}

.wiki-navbar-right{
  float: right;
  width: 66%;
  display: -webkit-box;
}

.wiki-main{
  background: rgb(217, 210, 232);
  height:73.8%;

}

.wiki-main-row{
  background:rgb(217, 210, 232);
  content: "";
  clear: both;
  display: flex;
  width: inherit;
  height: 95%;
}

.wiki-info-col{
  float: left;
  background: rgb(217, 210, 232);
  display: -webkit-box;
  /* Comment is off ; width : 100% */
  /* Comment is off : height : 100% */

  /* Comment is on ; width : 65% */
  /* Comment is on : height : 100%*/
  width: 100%;
  height: 100%;
  
}

.wiki-info-wrapper{
  background: rgb(238,238,238);
  width: 95%;
  border-radius:20px;
  margin: auto;

}

.wiki-comment-col{
  background: rgb(217, 210, 232);
  float: right;
  width: 35%;
  height: 100%;

  /* Comment is off : display : none /
  /* Comment is on : display : -websit-box */
  display: none;
}

.wiki-comment-wrapper{
  background: rgb(204,204,204);
  width: 95%;
  border-radius:20px;
  margin: auto;
  border-radius: 20px;
}

.sign-up-row::after{
  content: "";
    display: table;
    clear: both;
}

.Top-Title {
  background: rgb(217, 210, 232);
  font-size: 60px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.Sign-up-left{
  background:rgb(217, 210, 232);
  height: fit-content;
  float: left;
  width: 52%;
}
.sign-up-right{
  background: rgb(217, 210, 232);
  height: fit-content;
  width: 48%;
  float: right;
}

.user-info{
  height: 80px;
  margin-bottom: 28px;
  display: flex;
}
.Sing-up-category{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  margin-left: 100px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;
}

.sign-up-category-right{
  background-color :rgb(177, 167,210);
  height: -webkit-fill-available;
  width : 270px;
  display: flex;
  font-size: xx-large;
  border-radius: 15px;

}
#sign-up-type{
  text-align: center;
  margin: auto;
  font-size: smaller;
}

#sign-up-type-right{
  text-align: center;
  font-size: smaller;
  margin: auto;
}

.register-button{
  margin: auto;
  padding-top:40px;
  padding-bottom: 40px;
}
.sign-up-register{
  background-color: rgb(126, 110, 181);
  margin: auto;
  width: 20%;
  height: 80px;
  font-size: xx-large;
  border-radius: 15px;
  display: -webkit-box;

}
.sign-up-register:hover{
  cursor: pointer;
}

.sign-up-input{
  margin-left:10px;
  height: -webkit-fill-available;
  width: 440px;
  font-size: x-large;
  border-radius: 3px;
}

.sign-up-selection{
  margin-left:10px;
  height: -webkit-fill-available;
  font-size: larger;
  width: 440px;
}