.Initial {
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;

}
.Title {
  font-size: 60px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}
h1{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top:80px;
}
#logo{
  width:35%;
  margin: auto;
  padding-top:50px;
}

#top-logo{
  width:20%;
  margin: auto;
  padding-top: 25px;
}

.TeamName{
  text-align: center;
}

.text{
  border: 1.5px dashed grey;
  margin: auto;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  line-height: 1.4;
  border-radius: 10px;
  width: 70%;
}

.major-list{
  background: rgb(217, 210, 232);
  margin: auto;
  width: 80%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.major{
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#major:hover{
  cursor: pointer;
}

.sign-up-page{
  background: rgb(217, 210, 232);
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
.top{
  background: rgb(217, 210, 232);
}

.top-title {
  background: rgb(217, 210, 232);
  font-size: 30px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.Top-Title {
  background: rgb(217, 210, 232);
  font-size: 60px;
  color:black;
  text-align: center;
  display:-webkit-box;
  width:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.login-box{
  margin-top: 100px;
  padding-top: 50px;
  width: 530px;
  margin: auto;
  height: 210px;
}

.login-item{
  margin-bottom: 10px;
  display: flex;
}

.login-left{
  float: left;
  width: 65%;
}

.login-right{
  float: right;
  width: 35%;
}

#login-type{
  text-align: center;
  margin: auto;
  font-size: smaller;
}

.login-input{
  margin-left:15px;
  height: 50px;
  width: 100%;
  min-width: 250px;
  font-size: large;
  border-radius: 5px;
}

.login-category{
  background-color :rgb(177, 167,210);
  height: 45px;
  min-width: 100px;
  width : 25%;
  display: flex;
  font-size: x-large;
  border-radius: 15px;
}

.login-button:hover{
  cursor: pointer;
}

.login-button{
  background-color: rgb(126, 110, 181);
  width: 120px;
  height: 110px;
  font-size: xx-large;
  border-radius: 15px;
  display: block;
  float: right;
  border: none
}

#login-btn{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
}

.login-btn:hover{
  cursor: pointer;
}

.login-findpwd{
  margin: auto;
  text-align: center;
}

.login-signup{
  margin: auto;
  text-align: center;
}

.sign-up-row{
  background:rgb(217, 210, 232);
  display: flex;
  margin: auto;
  margin-top: 25px;
  width: 80%;
  text-align: center;
}

.sign-up-left{
  height: fit-content;
  float: left;
  width: 50%;
  margin-right: 10px;
  text-align: center;
}

.sign-up-right{
  height: fit-content;
  width: 50%;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.user-info{
  height: 80px;
  margin-bottom: 5px;
  display: flex;
}

.sign-up-category{
  background-color :rgb(177, 167,210);
  height: 50px;
  width : 160px;
  min-width: 50px;
  display: flex;
  border-radius: 15px;
}

.sign-up-category-right{
  background-color :rgb(177, 167,210);
  height: 50px;
  width : 160px;
  min-width: 50px;
  display: flex;
  border-radius: 15px;
}
#sign-up-type{
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.register-button{
  margin: auto;
}

#sign-up-btn{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 25px;
}

.sign-up-register{
  background-color: rgb(126, 110, 181);
  margin: auto;
  width: 18%;
  height: 75px;
  border-radius: 15px;
  display: -webkit-box;
}

.sign-up-register:hover{
  cursor: pointer;
}

.sign-up-input{
  margin-left:15px;
  height: 50px;
  width: 300px;
  min-width: 250px;
  font-size: large;
  border-radius: 5px;
}

.sign-up-selection{
  margin-left:15px;
  height: 50px;
  font-size: larger;
  width: 300px;
  min-width: 250px;
}

.sign-up-question{
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: #1a202b;
  padding-top: 80px;
}

.sign-up-types{
  width: 40%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.sign-up-ans{
  display: inline-block;
  width: 40%;
  height: 100px;
  font-size: 30px;
  background-color: rgb(126, 110, 181);
  color: white;
  border-radius: 15px;
  padding: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

.sign-up-ans:hover{
  cursor: pointer;
}

.find-pw-input{
  margin-left:15px;
  margin-right:15px;
  margin-top: 5px;
  height: 50px;
  width: 100%;
  min-width: 250px;
  font-size: large;
  border-radius: 5px;
}

.find-pw-types{
  width: 40%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.find-pw-ans{
  display: inline-block;
  width: 60%;
  height: 60px;
  font-size: 17px;
  background-color: rgb(126, 110, 181);
  color: white;
  border-radius: 15px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.find-pw-ans:hover{
  cursor: pointer;
}

.wiki{
  height:100vh;
  background: rgb(217, 210, 232);
}

.wiki-navbar-row{
  background:rgb(217, 210, 232);
  content: "";
  clear: both;
  display: flex;
  width: 97%;
  margin: auto;
  padding: 10px;
}

.wiki-navbar-left{
  width: 20%;
}

.wiki-navbar-middle{
  width: auto;
  margin: auto;
  text-align: center;
}

.wiki-navbar-right{
  width: 20%;
}

.wiki-navbar-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  line-height: 2;
  float: left;
}

.wiki-year{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.wiki-year:hover{
  cursor: pointer;
}

.wiki-other-year{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  display: inline-block;
  color: #353535;
}

.wiki-other-year:hover{
  cursor: pointer;
}

.wiki-arrow{
  font-size: x-large;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.fa-angle-double-left{
  color: #a3a3a3;
}

.fa-angle-double-right{
  color: #a3a3a3;
}

.wiki-navbar-signin{
  background: rgb(217, 210, 232);
  float: right;
}

.wiki-signin{
  height: 35px;
  width: 80px;
  background: rgb(177, 167,210);
  border-radius: 15px;
  border: none
}

.wiki-signin:hover{
  cursor: pointer;
}

#wiki-signin-text{
  font-size: 15px;
}

.wiki-main{
  background: rgb(217, 210, 232);
  height:73.8%;
}

.wiki-main-row{
  background:rgb(217, 210, 232);
  content: "";
  clear: both;
  display: flex;
  width: inherit;
  height: 95%;
}

.wiki-info-col{
  float: left;
  background: rgb(217, 210, 232);
  display: -webkit-box;
  /* Comment is off ; width : 100% */
  /* Comment is off : height : 100% */

  /* Comment is on ; width : 65% */
  /* Comment is on : height : 100%*/
  width: 100%;
  height: 100%;
  
}

.wiki-info-wrapper{
  background: rgb(238,238,238);
  width: 98%;
  border-radius:20px;
  margin: auto;
  height: 100%;
  overflow-y: scroll;
}

.wiki-info-doc{
  padding: 15px;
  height:fit-content;
  line-height: 1.8em;
  font-size: 18px ;
}

.wiki-info-interviews{
  padding: 15px;
  height: fit-content;
  font-size: 18px;
  line-height: 1.8em;
}

.wiki-info-title{
  font-size: 20px;
  font-weight: bold;
}

.wiki-info-subtitle{
  font-size: 18px;

}
.wiki-info-item{
  display: -webkit-box;
}

.wiki-info-item>li:hover{
  cursor: pointer;
  width: fit-content;
  background-color: antiquewhite;
}

.wiki-comment-col{
  background: rgb(217, 210, 232);
  float: right;
  width: 35%;
  height: 100%;

  /* Comment is off : display : none /
  /* Comment is on : display : -webkit-box */
  display: none;
}

.wiki-comment-wrapper{
  background: rgb(204,204,204);
  width: 98%;
  height: 100%;
  border-radius:20px;
  margin: auto;
  overflow-y: scroll;
}

.wiki-comment-filter{
  height:8%;
}

.wiki-comment-filter-row::after{
  content: "";
  display: table;
  clear: both;
}

.wiki-comment-filter-col{
  float: left;
  width: 33.33%;
  height:-webkit-fill-available;
}

.wiki-comment-filter-wrapper{
  padding: 5px;
  margin-top:3px;
}

.wiki-comment-filter-select{
  height: 40px;
  width: -webkit-fill-available;
  font-size: inherit;
}

.wiki-comment-user{
  height: 92%;
  display: contents;
}

.wiki-comment-user-box{
  background: rgb(204, 218,245);
  height:110px;
  margin-top:20px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:8px;
}


.wiki-comment-user-row::after{
  content: "";
  display: table;
  clear: both;
}

.wiki-comment-user-col-left{
  float: left;
  width: 12%;
  height:100%;
}

.wiki-comment-user-col-right{
  float: right;
  width: 88%; 
  height: 110px;
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 8px;
  overflow-y: scroll;
}

.reply-btn{
  margin-top: 30px;
  margin-left: 10px;
  width: 30px;
  border: black;
}

.reply-btn:hover{
  cursor: pointer;
}

.wiki-comment-user-context{
  font-size: 15px;
  padding-bottom: 10px;
}

.wiki-info-subtitle-editor{
  width: fit-content;
  display: -webkit-inline-box;
}

.wiki-info-subtitle-addimg{
  width: 25px;
  padding-left: 8px;
  margin-top: 8px;
}

.wiki-info-subtitle-addimg:hover{
  cursor: pointer;
}

.user-pic{
  width: 70%;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 10px;
}

.user-pic:hover{
  cursor: pointer;
}

.wiki-reply-wrapper{
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
}


.wiki-reply-box{
  background: rgb(220, 233, 213);
  height: -webkit-fill-available;
  margin-right : 14.5px;
  width: 85%;
  float: right;
  padding:15px;
  overflow-y: scroll;
}

.wiki-reply-input-box{
  background: rgb(220, 233, 213);
  height: -webkit-fill-available;
  margin-right : 14.5px;
  width: 85%;
  float: right;
  padding:15px;
  overflow-y: scroll;
}

.wiki-comment-user-replyimg-wrap{

  width: 33px;
  margin-left: 10px;
  margin-bottom:10px;
  margin-top:10px;
}

.wiki-comment-user-replyimg-wrap:hover{
  cursor: pointer;
}

.wiki-reply-context{
  font-size: 15px;
  overflow-y: scroll;
}

.wiki-reply-tri-wrapper{
  height: 10px;
  margin-right: 14.5px;
}

.wiki-reply-tri{
  width : 0px;
  height: 0px;
  border-bottom: 10px solid rgb(220, 233, 213);
  border-left: 10px solid transparent;
  float: right;
}

.wiki-reply-input{
  width:80%;
  height:-webkit-fill-available;
  border: none;
}

.wiki-reply-add{
  display: flex;
}

.wiki-reply-addbutton{
  margin-left: 15px;
  height:-webkit-fill-available;
  width: 50px;
  background: rgb(188, 219, 177);
  border: none;
}

.wiki-comment-add{
  position: fixed;
  height: 40px;
}

.comment-add-img{
  margin-left: 20px;
  margin-top: 15px;
  width: 40px;
}

.wiki-comment-input{
  width: 86%;
  height: -webkit-fill-available;
  border: none;
}

.footer {
  position: fixed;
  left: 82%;
  bottom: 10%;
  transform: translateX(-50%);
}

.new-comment-add-btn{
  margin: auto;
  background-color:rgb(134, 166, 221);
  height: 45px;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}

.new-comment-add-btn:hover{
  cursor: pointer;
}

.wiki-comment-addbox{
  background: rgb(204, 218, 245);
  width: 100%;
  height: -webkit-fill-available;
  padding: 15px;
  overflow-y: scroll;
}

.wiki-comment-addbutton{
  margin-left: 15px;
  height:-webkit-fill-available;
  width: 50px;
  background: rgb(163, 196, 254);
  border: none;
}

.wiki-info-inputbox{
  width: 90%;
  font-size: large;
}

.profile-background{
  width: 80%;
  height: 70%;
  margin: auto;
  margin-top: 10%;
  background-color:rgb(238,238,238);
  border-radius: 10px;
}

.profile-closeBtn{
  width: 20px;
  float: right;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 7px;
  border: none;
}

.profile-close-row{
  height: 30px;
}

.profile-user-info{
  margin: auto;
  margin-top: 50px;
}

.profile-user-pic{
  margin-left: 10px;
  width: 30px;
}

.profile-user-field{
  margin-left: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 2px;
}

.profile-user-text{
  margin-left: 10px;
}

.wiki-comment-addbox{
  background: rgb(204, 218,245);
  height: -webkit-fill-available;
  margin-right : 14.5px;

  display: flex;
  padding:15px;
  overflow-y: scroll;
}

.wiki-info-add{
  margin: auto;
  display: inline;
}

.wiki-info-inputbox{
  width: 90%;
  font-size: 18px;
}

.wiki-info-submit{
  margin-left: 5px;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background-color: #b1a7d2;
}

.wiki-submit-text{
  color: white;
  font-size: 15px;
}

.wiki-submit-text:hover{
  cursor: pointer;
}

.agree{
  width: 15px;
  margin-left: 16px;
  padding-top: 5px;
}

.agree:hover{
  cursor: pointer;
}

.agreeNum{
  padding-left: 6px;
  font-size: inherit;
}

.divide{
  padding-left: 6px;

}

.disagreeNum{
  padding-left: 6px;
  font-size: inherit;
}

.disagree{
  width: 20px;
  margin-left: 10px;
  padding-top: 5px;
}

.disagree:hover{
  cursor: pointer;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.5;
  background: url(images/Preloader_2.gif) center no-repeat #fff;
}

.vote-info{
  display: contents;
}